
@import '../styles/bootstrap/variables';

$bgPageBaseColor: #FAFCFF;
$primarybtn: #4162ef;
$primarybtnhover: #2848CE;
$secondarybtn: #ffffff;
$bgGray: #f7f7f7;
$bglightBlue: #E1E7F5;
$bgIconGray: #E1E7F5C4;
$textColorBlack: #323232;
$headingBorder: #10E4BE;
$bgfooter: #2B4791;
$privacyLink: #5D5D5D;
$scrollTopBg: rgba(4,27,86,0.5);