@import "../common/light/common";
@import "variables";
@import "vertical-wrapper";
@import "sidebar";
@import "navbar";
@import "layouts";
@import "settings-panel";


@font-face {
    font-family: 'nunitomedium';
    src: url('../../fonts/Nunito/Nunito-Black.ttf');
}

@font-face {
    font-family: 'nunitoregular';
    src: url('../../fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'nunitosemibold';
    src: url('../../fonts/Nunito/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'nunitobold';
    src: url('../../fonts/Nunito/Nunito-Bold.ttf');
}

body {

    .navbar,
    .navbar-brand-wrapper,
    .navbar-menu-wrapper {
        background-color: $portalBackground !important;
    }

    .page-body-wrapper {
        .main-panel {
            .content-wrapper {
                background-color: $portalBackground;
            }
        }
    }
}

.bg-login-left {
    background-color: $login-bg-left;
}

.fw-bold {
    font-family: 'nunitobold';
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 24px !important;
}

.card {
    border-radius: 10px;
}

.btn {
    font-size: 18px;
    border-radius: 10px;
    border-radius: 5px;
    padding: 12px 24px;
    border: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

    &.btn-small {
        min-width: 140px;
    }

    &.btn-large {
        min-width: 260px;
    }

    &.btn-primary {
        background-color: $primarybtn;
        color: $white;

        &:hover {
            color: $white;
            background-color: $primarybtnhover;
        }
    }

    &.btn-secondary {
        background-color: $imgBackgroundColor;
        border-color: $imgBackgroundColor;
        color: $privacyLink;

        &:hover {
            color: $white;
            background-color: $primarybtnhover;
        }
    }
}


.btn-secondary {
    color: $secondarybtn;
    background-color: transparent;
    border: 1px solid $secondarybtn;

    &:hover {
        color: $white;
        background-color: $primarybtn;
        border: 1px solid $primarybtn;
    }
}

.defaultLink {
    color: $primarybtn;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    min-width: 98px;
    width: fit-content;

    i {
        position: absolute;
        transition: ease-in-out 0.5s all;
        right: -15px;
    }

    &:hover {
        i {
            transition: ease-in-out 0.5s all;
            right: -22px;
        }
    }
}

.text-Primary {
    color: $primarybtn;
}

.text-Black {
    color: $textColorBlack;
}

.privacyLink {
    color: $privacyLink;
}

.textGray {
    color: $placeholderColor;
}

.banHeading {
    font-size: 45px;
    font-weight: 600;
}

.heading {
    font-size: 30px;
    font-weight: 600;
}

.headingWidthBorder {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
    width: fit-content;

    &::after {
        content: '';
        position: absolute;
        background-color: $headingBorder;
        border-radius: 15px;
        height: 3px;
        width: 108px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.subHeading {
    font-size: 22px;
    font-family: 'nunitosemibold';
}

.paraText {
    font-size: 18px;
    font-weight: 600;
}

.subCTA {
    text-transform: uppercase;
    font-size: 16px;
}

.headerTextR {
    font-size: 16px;
    font-weight: 300;
}

.headerTextM {
    font-size: 16px;
    font-weight: 600;
}

.headerTextB {
    font-size: 16px;
    font-weight: 900;
}

.smallText {
    font-size: 14px;
}

.frgtpswd {
    margin-top: -10%;
}

.logotext {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    color: $primarybtn;

    .textSecondary {
        color: $headingBorder;
    }
}


.sidebar {
    background-color: $portalBackground;
}

.navbar .navbar-brand-wrapper .navbar-toggler:not(.navbar-toggler-right) {
    transform: none;
}

.sidebar-icon-only {
    .sidebar .nav .nav-item .nav-link img.menu-icon {
        margin-right: 0;
    }

    .sidebar .nav .nav-item .nav-link svg {
        display: none;
    }

    .brand-logo {
        display: none;
    }

    .sidebar .nav .nav-item.active .nav-link:before {
        display: none;
    }

    .navbar .navbar-brand-wrapper .navbar-toggler img {
        display: none;
    }

    .navbar .navbar-brand-wrapper .navbar-toggler:not(.navbar-toggler-right) {
        transform: none;

        img {
            display: block;
        }

        svg {
            display: none;
        }
    }

    .navbar {
        .navbar-brand-wrapper {
            padding: 0;
            background-color: #fff;

            .logotext {
                display: none;
            }
        }
    }
}

.progressBar {
    color: $progressBarText;
    font-size: 18px;
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        left: -15px;
        top: 10px;
    }

    &.totApp {
        &::before {
            background-color: #727272;
        }
    }

    &.outApp {
        &::before {
            background-color: #ADADAD;
        }
    }
}

.account-settings {
    &.nav-pills {
        border: 0;

        .nav-item {
            .nav-link {
                background-color: transparent;
                padding: 7px 20px;
                border: 0;
                border-radius: 5px;
                display: flex;
                align-items: center;
                color: $privacyLink;

                img {
                    width: 14px;
                    height: 14px;
                    margin-right: 0.25rem;
                }

                &.active {
                    background-color: $primarybtn;
                    color: $white;

                    img {
                        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(118deg) brightness(200%) contrast(101%);
                    }
                }
            }
        }
    }
}

.set-price-tabs {
    &.nav-tabs {
        border: 0;

        .nav-item {
            .nav-link {
                background-color: transparent;
                padding: 0;
                padding-right: 10rem;
                font-size: 20px;
                border: 0;
                border-radius: 0;
                display: flex;
                justify-content: start;
                align-items: center;
                color: $privacyLink;
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 10rem;

                &.active {
                    background-color: transparent;
                    color: $primarybtn;
                    border-bottom: 1px solid $primarybtn;
                }
            }
        }
    }
}

.uploadProfilePicCont {
    .imgCont {
        background-color: $imgBackgroundColor;
        width: 150px;
        height: 130px;
        position: relative;

        img {
            position: absolute;
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
}

.form-group {
    label {
        margin-bottom: 5px;
    }

    .form-control {
        padding: 13px 19px;

        &::placeholder {
            color: $placeholderColor;
        }
    }
}

label {
    font-size: 20px !important;
}

.borderBottomGrey {
    border-bottom: 1px solid $tableBorderColor;
}

table {
    &.securityTable {

        thead,
        tbody {

            th,
            td {
                color: $privacyLink;
            }
        }

        &> :not(:last-child)> :last-child>* {
            border-bottom-color: $tableBorderColor !important;
        }

        tr {
            border-bottom: 1px solid $tableBorderColor;
        }

        tbody {
            tr {
                &:last-child {
                    border: none;
                }
            }
        }
    }

    &.notificationTable {

        thead,
        tbody {

            th,
            td {
                color: $privacyLink;
                font-weight: bold;
                font-size: 18px;
            }
        }

        tr {
            &:last-child {
                border-bottom: 1px solid $tableBorderColor;
            }
        }
    }
}

.form-select {
    font-size: 18px;
    border-color: $selectBorderColor;
}

.form-switch {
    .form-check-input {
        height: 33px;
        width: 66px;
        margin-left: 0;
    }
}

//Profile Page
.profilDetailCont {
    &>div {
        &:nth-child(2) {
            margin-top: -5%;
            margin-left: 50px;
        }
    }

    .banner-top {
        height: 50vh;
        background: linear-gradient(90deg, rgba(16, 228, 190, 1) 0%, rgba(65, 98, 239, 1) 100%);
        position: relative;

        img {
            position: absolute;
            object-fit: fill;
            height: 100%;
            width: 100%;
        }
    }

    .profileImgCont {
        position: relative;
        width: 150px;
        height: 150px;
        background-color: #ffffff;
        padding: 5px;

        .imgHolder {
            width: 100%;
            height: 100%;
            background-color: #DADADA;
            position: relative;

            img {
                object-fit: fill;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

    }
}
.dataTables_wrapper{
    &#patientDetail_wrapper,&#upcomingAppoints_wrapper {
    
        #patientDetail_length {
            display: inline-block;
            max-width: 65%;
            width: 100%;
            height: 40px;
            padding-left: 30px;
    
            label {
                height: 100%;
    
                &,
                select {
                    height: 100%;
                    font-size: 14px;
                }
    
                select {
                    padding: 7px 10px;
                    border: 1px solid #00000029;
                    border-radius: 5px;
                }
            }
        }
    
        .dt-buttons {
            display: inline-block;
            max-width: 15%;
            width: 100%;
            height: 40px;
            margin-left: 10px;
    
            button {
                height: 100%;
                width: 100%;
                outline: none;
                border: 0;
                box-shadow: none;
                background-color: $primarybtn;
                color: $white;
                box-shadow: 0 3px 6px #00000029;
                font-size: 14px;
                border-radius: 5px;
            }
        }
    
        #patientDetail_filter {
            display: inline-block;
            max-width: 15%;
            width: 100%;
            float: unset;
            height: 40px;
    
            label {
                max-width: 100%;
                padding-right: 16px;
    
                &,
                input {
                    width: 100%;
                    height: 100%;
                    font-size: 14px;
                    border: 0;
                }
    
                & {
                    border: 1px solid #00000029;
                    border-radius: 5px;
                }
            }
        }
    
        .patientDetailTable,.upcomingAppointsTable  {
            margin-top: 1rem;
    
            thead {
                background-color: $login-bg-left;
            }
    
            th,
            td {
                padding: 16px 20px;
            }
    
            td {
                border-bottom: 0;
                border-right: 1px solid #E4E4E4;
                font-weight: 600;
    
                &:last-child {
                    border-right: 0;
                }
            }
        }
    
        #patientDetail_info,
        #patientDetail_paginate {
            padding-top: 16px;
            margin-top: 0;
        }
    
        #patientDetail_info {
            padding-left: 20px;
        }
    
        #patientDetail_paginate {
            padding-right: 20px;
        }
    
        .paginate_button {
            color: $primarybtn !important;
            background-color: #E1E7F5;
            box-shadow: none;
            border: 0;
            outline: none;
            border-radius: 5px;
    
    
            &.previous,
            &.next {
                margin: 0 10px;
    
                &.disabled {
                    background-color: #E8E8E8;
                    border-radius: 5px;
                    color: #5D5D5D !important;
                }
            }
    
            &.current {
                background: none;
                background-color: $primarybtn;
                color: $white !important;
            }
        }
    
        .completed {
            display: inline-block;
            padding: 5px 10px;
            background-color: #DFFEEA;
            color: #10A660;
            font-size: 14px;
        }
    
        .pending {
            display: inline-block;
            padding: 5px 10px;
            background-color: #FFE3E3;
            color: #E36262;
            font-size: 14px;
        }
    
        .dropdown {
            .dropdown-toggle:after {
                display: none;
            }
        }
    }
    &#upcomingAppoints_wrapper{
        position: initial;
        .dt-buttons{
            position: absolute;
            right: 3%;
            top: 5%;
            text-align: right;

            & > button{
                background-color: transparent;
                height: 10px;
                width: 10px;
                box-shadow: none;

                &::before{
                    display: block;
                    content: '\f142';
                    font: var(--fa-font-solid);
                    width: 10px;
                    height: 10px;
                    font-size: 18px !important;
                    color: #9B9B9B;

                }
                .dt-down-arrow{
                    display: none;
                }
            }
        }
    }
}

.flex-center {
    align-items: center;
    justify-content: center;
}

// icon sizes
.icon-14 {
    width: 14px;
    height: 14px;
}

.icon-16 {
    width: 16px;
    height: 16px;
}

// margin added

.mt-12 {
    margin-top: 12px;
}

.mb-12 {
    margin-bottom: 12px;
}

.ms-12 {
    margin-inline-start: 12px;
}

.me-12 {
    margin-inline-end: 12px;
}

.mx-12 {
    margin-inline: 12px;
}

.my-12 {
    margin-block: 12px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ms-20 {
    margin-inline-start: 20px;
}

.me-20 {
    margin-inline-end: 20px;
}

.mx-20 {
    margin-inline: 20px;
}

.my-20 {
    margin-block: 20px;
}

// padding added

.pt-12 {
    padding-top: 12px;
}

.pb-12 {
    padding-bottom: 12px;
}

.ps-12 {
    padding-inline-start: 12px;
}

.pe-12 {
    padding-inline-end: 12px;
}

.px-12 {
    padding-inline: 12px;
}

.py-12 {
    padding-block: 12px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.ps-20 {
    padding-inline-start: 20px;
}

.pe-20 {
    padding-inline-end: 20px;
}

.px-20 {
    padding-inline: 20px;
}

.py-20 {
    padding-block: 20px;
}

// generic table styling

.dt-buttons {
    display: inline-block;
    max-width: 15%;
    width: 100%;
    height: 40px;
    margin-left: 10px;

    button {
        height: 100%;
        width: 100%;
        outline: none;
        border: 0;
        box-shadow: none;
        background-color: $primarybtn;
        color: $white;
        box-shadow: 0 3px 6px #00000029;
        font-size: 14px;
        border-radius: 5px;
    }
}

.paginate_button {
    color: $primarybtn !important;
    background-color: #E1E7F5;
    box-shadow: none;
    border: 0;
    outline: none;
    border-radius: 5px;


    &.previous,
    &.next {
        margin: 0 10px;

        &.disabled {
            background-color: #E8E8E8;
            border-radius: 5px;
            color: #5D5D5D !important;
        }
    }

    &.current {
        background: none;
        background-color: $primarybtn;
        color: $white !important;
    }
}

.dropdown {
    .dropdown-toggle:after {
        display: none;
    }
}

table {
    thead {
        background-color: $login-bg-left;
    }

    th {
        color: #707070;
        font-size: 15px;
    }

    th,
    td {
        padding: 16px 20px;
    }

    td {
        border-bottom: 0;
        border-right: 1px solid #E4E4E4;
        font-weight: 600;
        font-size: 14px !important;

        &:last-child {
            border-right: 0;
        }
    }

    .completed {
        display: inline-block;
        padding: 5px 10px;
        background-color: #DFFEEA;
        color: #10A660;
        font-size: 14px;
    }

    .pending {
        display: inline-block;
        padding: 5px 10px;
        background-color: #FFE3E3;
        color: #E36262;
        font-size: 14px;
    }
}

// seperate components 
.custom-card {
    border-radius: 5px;
    box-shadow: 0px 0px 12px #00000012;
    background-color: #fff;

    .card-title {
        font-size: 1.375rem;
        color: #323232;
        margin-bottom: 14px;
        font-weight: 600;
        margin-bottom: 16px;
    }

}

.summary-card {
    .summary {
        padding-block: 38px;
        border-bottom: 1px solid #CACACA;

        &:last-child {
            border: none;
        }

        .custom-content-wrapper {
            .summary-title {
                font-size: 22px;
                color: #424242;
                font-weight: 600;
            }

            .summary-desc {
                font-size: 18px;
                color: #5D5D5D;
            }
        }

        .icon {
            background-color: #E1E7F5;
            border-radius: 15px;
            height: 60px;
            width: 60px;

            .icon-16 {
                &::before {
                    color: #4162EF;
                }
            }
        }
    }
}