@import "../common/light/common";
@import "variables";
@import "vertical-wrapper";
@import "sidebar";
@import "navbar";
@import "layouts";
@import "settings-panel";


@font-face {
    font-family: 'nunitomedium';
    src: url('../../fonts/Nunito/Nunito-Black.ttf');
}
@font-face {
    font-family: 'nunitoregular';
    src: url('../../fonts/Nunito/Nunito-Regular.ttf');
}
@font-face {
    font-family: 'nunitosemibold';
    src: url('../../fonts/Nunito/Nunito-SemiBold.ttf');
}
@font-face {
    font-family: 'nunitobold';
    src: url('../../fonts/Nunito/Nunito-Bold.ttf');
}
body {
    .navbar, .navbar-brand-wrapper, .navbar-menu-wrapper {
        background-color: $portalBackground !important;
    }
    .page-body-wrapper {
        .main-panel {
            .content-wrapper {
                background-color: $portalBackground;
            }
        }
    }
}
.bg-login-left {
    background-color: $login-bg-left;
}
.fw-bold{
    font-family: 'nunitobold';
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6{
    line-height: 24px !important;
}

.btn{
    font-size: 18px;
    border-radius: 10px;
    height: 48px;

    &.btn-small{
        min-width: 140px;
    }
    &.btn-large{
        min-width: 260px;
    }
}

.btn-primary{
    background-color: $primarybtn;
    color: $white;

    &:hover{
        color: $white;
        background-color: $primarybtnhover;
    }
}

.btn-secondary{
    color: $secondarybtn;
    background-color: transparent;
    border: 1px solid $secondarybtn;

    &:hover{
        color: $white;
        background-color: $primarybtn;
        border: 1px solid $primarybtn;
    }
}

.defaultLink{
    color: $primarybtn;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    min-width: 98px;
    width: fit-content;
    i{
        position: absolute;
        transition: ease-in-out 0.5s all;
        right: -15px;
    }
    &:hover{
        i{
            transition: ease-in-out 0.5s all;
            right: -22px;
        }
    }
}

.text-Primary{
    color: $primarybtn;
}
.text-Black{
    color: $textColorBlack;
}
.privacyLink{
    color: $privacyLink;
}
.banHeading{
    font-size: 45px;
    font-weight: 600;
}
.heading{
    font-size: 30px;
    font-weight: 600;
}
.headingWidthBorder{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
    width: fit-content;

    &::after{
        content: '';
        position: absolute;
        background-color: $headingBorder;
        border-radius: 15px;
        height: 3px;
        width: 108px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.subHeading{
    font-size: 22px;
    font-family: 'nunitosemibold';
}
.paraText{
    font-size: 18px;
    font-weight: 600;
}
.subCTA{
    text-transform: uppercase;
    font-size: 16px;
}
.headerTextR{
    font-size: 16px;
    font-weight: 300;
}
.headerTextM{
    font-size: 16px;
    font-weight: 600;
}
.headerTextB{
    font-size: 16px;
    font-weight: 900;
}
.smallText{
    font-size: 14px;
}

.frgtpswd{
    margin-top: -10%;
}

.logotext{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    color:$primarybtn;
    .textSecondary{
        color: $headingBorder;
    }
}


.sidebar {
    background-color: $portalBackground;
}
.navbar .navbar-brand-wrapper .navbar-toggler:not(.navbar-toggler-right){
    transform: none;
}
.sidebar-icon-only {
    .sidebar .nav .nav-item .nav-link img.menu-icon{
        margin-right: 0;
    }
    
    .sidebar .nav .nav-item .nav-link svg{
        display: none;
    }
     
    .brand-logo {
        display: none;
    }
    .sidebar .nav .nav-item.active .nav-link:before{
        display: none;
    }
    .navbar .navbar-brand-wrapper .navbar-toggler img{
        display: none;
    }
    
    .navbar .navbar-brand-wrapper .navbar-toggler:not(.navbar-toggler-right){
        transform: none;
        img{
            display: block;
        }
        svg{
            display: none;
        }
    }
    .navbar{
        .navbar-brand-wrapper{
            padding: 0;
            background-color: #fff;

            .logotext{
                display: none;
            }
        }
    } 
}
.progressBar{
    color: $progressBarText;
    font-size: 18px;
    position: relative;
    display: inline-block;
    &::before{
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        left: -15px;
        top: 10px;
    }
    &.totApp{
        &::before{
            background-color: #727272;
        }
    }
    &.outApp{
        &::before{
            background-color: #ADADAD;
        }
    }
}